* {
	margin:0;
	padding:0;
}


body {
	font-family:Arial, Roboto, Helvetica, sans-serif;
	font-size:12px;
	background:#ffffff;
}


#layoutBodyContent label {
	margin-left:10px;
	font-size:16px;
}

#layoutBodyContent a:hover {
	color: #67b4fb;
}


#layoutBodyContent ol {
	margin-top:10px;
	font-weight:bold;
	font-size:20px;
	margin-left:20px;
}

#layoutBodyContent table {
	margin-top:10px;
	margin-bottom:0px;
	font-size:16px;
	table-layout: fixed;
}
.clearer {

	clear:both;
	height:10px;
}

.topclearer {
	clear:both;
	height:74px;
}
}
@media screen and (orientation: portrait) {
.topclearer { 
	display: none;
}
}





   .line { 
    border-left: 3px solid #000; /* Параметры линии */ 
    margin-left: 17px; /* Отступ слева */
    padding-left: 15px; /* Расстояние от линии до текста */ 
   }


/* Footer */




@media screen and (orientation: landscape) {
#layoutFooter {
        width:100%;
	min-width: 720px;
	height:78px;
	background:#000000;
	text-align:center;
	font-size:16px;
}
#layoutFooter p {
	padding-top:30px;
	color:#FFFFFF;
}
#layoutFooter a {
	color:#FFFFFF;
	font-size:16px;
	text-decoration:underline;
}
#layoutFooter a:hover {
	color:#C0C0C0;
	font-size:16px;
	text-decoration:none;
}
}



@media screen and (orientation: portrait) {
#layoutFooter {
	width:100%;
	min-width: 980px;
	height:160px;
	background:#000000;
	text-align:center;
	font-size:40px;
}
#layoutFooter p {
	padding-top:60px;
	color:#FFFFFF;
}
#layoutFooter a {
	color:#FFFFFF;
	font-size:40px;
	text-decoration:underline;
}
#layoutFooter a:hover {
	color:#C0C0C0;
	font-size:40px;
	text-decoration:none;
    	word-wrap: break-word;
}
}

















/* container */








/* Formular */
form {
	margin-left: 0px;
	}
fieldset {
border: 1px inset #000;
	width: 100%;
	}


input, textarea {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1em;
width:95%;
margin-left: 20px;
color: #494949;
background: #E4E3E3;
border: 1px inset #000;
padding-left: 1px;
}
input:hover, textarea:hover {
background: #A09D9D;
}
.submit {
	background: #E4E3E3;
	color: #131313;
	width: 150px;
	border: 1px solid #000;
        margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.submit:hover {
	background: #A09D9D;	
	color: #f2f2f2;
}

/* Ende Formular */


table {
    margin: auto; 
   }

.center-img {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

img[hidden] {
  display: none;
}

@media screen and (orientation: landscape) {
  img[hidden] {
    display: block;
  }
}




#container .content1 {
width:100%;
}





details {
  display: block;  
  overflow: hidden;
  border: 1px solid #464655;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
  margin-top: 1em;
}
details summary {
  color:#FFFFFF;
  font-size:20px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  background: linear-gradient(to top, #454451 0%, #494856 50%, #494856 50%, #464655 100%);
}

.musicfield {
  background:#F5F5F5;
  padding: 1em;
}


@media screen and (orientation: portrait) {
.musicfield h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:36px;
  font-weight: normal;
}
}

@media screen and (orientation: landscape) {
.musicfield h4 {
  padding-top: 10px;
  font-size:20px;
  font-weight: normal;
}
}


@media screen and (orientation: portrait) {
details summary {
  font-size:40px;
}
}



#layoutCenterBody {
	min-width: 720px;
        padding-top:150px;
  	background: #ffffff;
}







										/* ГЛАВНОЕ ВЕРХНЕЕ МЕНЮ */


.site-nav a {
  color: #ffffff;
  display: block;
  font-weight:bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}








/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb-6EA29B */






.container1 {
  width: 100%;

}

@media screen and (orientation: portrait) {
header {
  background: #000000;
  color: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100%;
  height:200px;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  margin-top: 0px;
  margin-left: 2em;
}



.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655f9;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  width: 50%;






/*   display: none; */
}

.site-nav--open {
  clip-path: circle(700% at top right);
/*   display: block; */
}

.site-nav ul {

  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #575766;
}


.site-nav a {
  color: #ffffff;
  display: block;
  font-size:60px;
  font-weight:normal;
  text-align: left;
  text-indent: 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-decoration: none;
}


.site-nav p:hover,
.site-nav a:hover,
.site-nav a:focus {
  background: #67b4fb;
  color: #464655;
}



.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .7em;
  right: .5em;
  bottom: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #ffffff;
  margin-right: 2em;
  margin-top: 70px;
  height: 10px;
  width: 5.75em;
  border-radius: 10px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-20px);
}

.hamburger::after {
  transform: translateY(-60px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-80px) rotate(-90deg);
}













					/* Кнопки с выпадающим меню  PDA */



/* Первое меню */

.dropbtn1 {
    background-color: #46465500;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:60px;
    font-weight:normal;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    text-indent: 25%;
}


.dropbtn1:hover, .dropbtn1:focus {
    background-color: #67b4fb;
    color: #464655;

}

.dropdown1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #464655f9;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 250;
    margin-left: -100%;
    margin-top: -135px;
}

.dropdown1-content a {
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 44px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #575766;
    font-size:36px;
    font-weight:normal;
    text-align: center;
    text-indent: 0%;
}


.dropdown1 a:hover {
    background-color: #67b4fb;
    color: #464655;
}

.show {display: block;}

   .block {
	position: absolute;
        margin-top: 15px;
        margin-left: 10%;
        float:left;
	border: 20px solid transparent; border-top: 20px solid white;
	pointer-events:none;
}

.dropbtn2:hover .block, .dropbtn2:focus .block,
.dropbtn1:hover .block, .dropbtn1:focus .block {
    border: 20px solid transparent; border-top: 20px solid #464655;
}

.dropbtn1:hover .block, .dropbtn1:focus .block {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* Второе меню */

.dropbtn2 {
    background-color: #46465500;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 34px;
    font-size:60px;
    font-weight:normal;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    text-indent: 25%;
    border-bottom: 2px solid #000000;
}


.dropbtn2:hover, .dropbtn2:focus {
    background-color: #67b4fb;
    color: #464655;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #464655f9;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 250;
    margin-left: -100%;
    margin-top: -138px;
}

.dropdown2-content a {
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #575766;
    font-size:40px;
    font-weight:normal;
    text-align: center;
    text-indent: 0%;
}

.dropdown2 a:hover {background-color: #67b4fb;}

.show {display: block;}

.dropbtn2:hover .block, .dropbtn2:focus .block {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}





}




@media screen and (orientation: landscape) {
.logo {
  float: left;
  padding-left: 60px;
}
}





@media screen and (orientation: landscape) and (min-width: 888px){
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    height: 78px;
    max-height: 78px;
    width: 130px;
    text-align: center;
    display: inline-block;
    border: none;
  }
  
  .site-nav a {  
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
        padding-bottom: 27px;
	font-size:16px;
	font-weight:bold;
	text-decoration: none;
	transition: .5s ease;
  }
  
                                                   
  .site-nav a:hover,
  .site-nav a:focus {
	color: #ffffff;
    background:  #222222; 
  }
  

  



header {
  min-width: 860px;
}
.site-nav ul > li:hover{
  background-color: #222222;
}

.site-nav li:last-child {
    width: 146px;
}





					/* Кнопки с выпадающим меню >888 */



/* Первое меню */

.dropbtn1 {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size:16px;
    font-weight:bold;
    text-decoration: none;
    width: 130px;
    height: 78px;
}


.dropbtn1:hover, .dropbtn1:focus {
    background-color: #222222;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #464655;
    width: 263.5px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 250;
}

.dropdown1-content a {
    color: #ffffff;
    padding-top: 21px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #575766;
    font-size:14px;
    height:32px;
}

.dropdown1 a:hover {background-color: #5A5A5A;}

.show {display: block;}

   .block {
        margin-top: 1px;
        margin-left: 16px;
        float:left;
	border: 7px solid transparent; border-left: 7px solid white;
	pointer-events:none;
   }

 .dropbtn1:focus .block {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* Второе меню */

.dropbtn2 {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size:16px;
    font-weight:bold;
    text-decoration: none;
    height: 78px;
    width: 146px;
    text-align: left;
    text-indent: 8px;
}


.dropbtn2:hover, .dropbtn2:focus {
    background-color: #222222;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #464655;
    width: 280px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 250;
    margin-left: -132px;
}

.dropdown2-content a {
    color: #ffffff;
    padding-top: 21px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #575766;
    font-size:14px;
    height:32px;
}

.dropdown2 a:hover {background-color: #5A5A5A;}

.show {display: block;}

   .block {
        margin-left: 16px;
        float:left;
	border: 7px solid transparent; border-left: 7px solid white;
	pointer-events:none;
   }

 .dropbtn2:focus .block {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


}







@media screen and (orientation: landscape) and (max-width: 888px){
header {
  background: #000000;
  color: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100%;
  height:78px;
}

header::after {
  content: '';
  clear: both;
  display: block;
}
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(350% at top right);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 250;
/*   display: block; */
}

.site-nav ul {

  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ffffff;
  display: block;
  font-size:14px;
  font-weight:bold;
  padding-top:20px;
  padding-bottom:20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}


.site-nav a:hover,
.site-nav a:focus {
  background:  #5A5A5A;
  color: #ffffff;
}
.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .35em;
  right: .25em;
  bottom: .25em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #ffffff;
  margin-right: 1em;
  margin-top: 25px;
  height: 5px;
  width: 2.875em;
  border-radius: 5px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-20px);
}

.hamburger::after {
  transform: translateY(-40px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-30px) rotate(-90deg);
}




					/* Кнопки с выпадающим меню  <888 */



/* Первое меню */

.dropbtn1 {
    background-color: #464655;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    font-size:14px;
    font-weight:bold;
    text-decoration: none;
    width: 200px;
    height:32px;
    text-align: center;
}


.dropbtn1:hover, .dropbtn1:focus {
    background-color: #5A5A5A;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #464655;
    width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 250;
    margin-top: -57px;
    margin-left: -200px;
}

.dropdown1-content a {
    color: #ffffff;
    padding-top: 21px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #575766;
    font-size:14px;
    height:32px;
}

.dropdown1 a:hover {background-color: #5A5A5A;}

.show {display: block;}

   .block {
        margin-top: 0px;
        margin-left: 10px;
        float:left;
	border: 7px solid transparent; border-right: 7px solid white;
	pointer-events:none;
   }

 .dropbtn1:focus .block {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}



/* Второе меню */

.dropbtn2 {
    background-color: #464655;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 16px;
    font-size:14px;
    font-weight:bold;
    text-decoration: none;
    width: 200px;
    height:32px;
}


.dropbtn2:hover, .dropbtn2:focus {
    background-color: #5A5A5A;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #464655;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 200px;
    z-index: 250;
    margin-left: -200px;
    margin-top: -58px;
}

.dropdown2-content a {
    color: #ffffff;
    padding-top: 21px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #575766;
    font-size:14px;
    height:32px;
}

.dropdown2 a:hover {background-color: #5A5A5A;}

.show {display: block;}

 .dropbtn2:focus .block {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

*, *:before, *:after {
  box-sizing: inherit;
}



}



















@media screen and (orientation: landscape) {
header {
  background: #000000;
  color: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100%;
  height:78px;
}
}



@media screen and (orientation: landscape) {
.logo {
  float: left;
  margin: 0;
}
}




@media screen and (orientation: landscape) {
#layoutCenterBody {
        padding-top:0px;
  	background: #ffffff;
}
}








@media screen and (orientation: landscape) {
.numbertext {
  color: #0564bc;
  font-size: 16px;
  font-weight:bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
}












#layoutBodyContent {
	min-height:1200px;
}


@media screen and (orientation: landscape) and (min-width: 920px){
#layoutBodyContent {
	background: #ffffff;
	padding-left:12%;
	padding-right:12%;
	font-size:16px;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent {
	background: #ffffff;
	padding-left:30px;
	padding-right:30px;
	font-size:16px;
}
}

@media screen and (orientation: landscape) and (max-width: 920px){
#layoutBodyContent {
	background: #ffffff;
	padding-left:60px;
	padding-right:60px;
	font-size:16px;
}
}





@media screen and (orientation: landscape) {
#layoutBodyContent a {
	color:#0564bc;
	font-size:20px;
	word-wrap: break-word;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent a {
	color:#0564bc;
	font-size:40px;
	word-wrap: break-word;
}
}


@media screen and (orientation: landscape) {
#albums a {
	color:#0564bc;
	font-size:20px;
	word-wrap: break-word;
}
}


@media screen and (orientation: portrait) {
#albums a {
	color:#ffffff;
	font-size:80px;
	word-wrap: break-word;
}
}






@media screen and (orientation: landscape) {
#layoutBodyContent h1{
	padding-top:40px;
	padding-bottom:40px;
	color:#000000;
	font-weight:normal;
	font-size:40px;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent h1{
	padding-top:140px;
	padding-bottom:40px;
	color:#000000;
	font-weight:normal;
	font-size:80px;
}
}






@media screen and (orientation: landscape) {
#layoutBodyContent h2{
	color:#000000;
	font-weight:bold;
	font-size:26px;
	padding-top:10px;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent h2{
	color:#000000;
	font-weight:bold;
	font-size:52px;
	padding-top:10px;
}
}




@media screen and (orientation: landscape) {
#layoutBodyContent h3{
	padding-top:40px;
	padding-bottom:40px;
	color:#000000;
	font-weight:normal;
	font-size:40px;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent h3{
	padding-top:40px;
	padding-bottom:40px;
	color:#000000;
	font-weight:normal;
	font-size:80px;
}
}
















@media screen and (orientation: landscape) {
#layoutBodyContent p {
	padding-top:10px;
	text-indent:20px;
	font-size:20px;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent p {
	padding-top:15px;
	padding-bottom:10px;
	text-indent:40px;
	font-size:40px;
}
}

.primary {
	max-height: 40px;
}



@media screen and (orientation: landscape) {
#layoutBodyContent ul {
	padding-top:10px;
	font-size:20px;
	padding-left:3em;
    	word-wrap: break-word;
}
}


@media screen and (orientation: portrait) {
#layoutBodyContent ul {
	padding-top:10px;
	font-size:40px;
	padding-left:1em;
	word-wrap: break-word;
}
}









@media screen and (orientation: landscape) {
legend {
	margin: 10px;
	padding: 5px;
	font-size:20px;
	color: #990000;
	}
}


@media screen and (orientation: portrait) {
legend {
	margin: 10px;
	padding: 5px;
	font-size:40px;
	color: #990000;
	}
}

@media screen and (orientation: portrait) {
#layoutBodyContent label {
	font-size:32px;
}
}

@media screen and (orientation: portrait) {
input, textarea {
	border: 2px inset #000;
	margin-left: 20px;
	font-size: 40px;
}
}

@media screen and (orientation: portrait) {
.submit {
	border: 2px inset #000;
	margin-bottom: 20px;
	width: 300px;
}
}

@media screen and (orientation: portrait) {
fieldset {
	border: 2px inset #000;
	width: 100%;
	}
}



@media screen and (orientation: landscape) {
.member {
	max-height: 250px;
	max-width: 250px;
	width: 18%;
	display: block;
        margin: 0 auto;
	position: relative;
        margin-top: 2em;
        margin-bottom: 2em;
	border-radius: 50%;
	border: 2px dashed rgba(100,100,100,0.8);
}
}


@media screen and (orientation: portrait) {
.member {
	width: 36%;
	display: block;
        margin: 0 auto;
	position: relative;
        margin-top: 2em;
        margin-bottom: 2em;
	border-radius: 50%;
	border: 4px dashed rgba(100,100,100,0.8);
}
}


@media screen and (orientation: landscape) {
.member_photo {
	max-height: 250px;
	max-width: 250px;
	display: block;
        margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius: 50%;
	width: 94%;
}
}


@media screen and (orientation: portrait) {
.member_photo {
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius: 50%;
	width: 94%;
}
}



@media screen and (orientation: landscape) {
hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
} 
}

@media screen and (orientation: portrait) {
hr {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
}



@media screen and (orientation: landscape) {
.hr-member {
	width: 20%;
	max-width: 200px;
	margin-top: 2em;
	margin-bottom: 2em;
} 
}

@media screen and (orientation: portrait) {
.hr-member {
	width: 30%;
	margin-top: 2em;
	margin-bottom: 2em;
}
}

@media screen and (orientation: landscape) and (min-width: 1660px){
.member_text {
	padding-left: 20%;
	padding-right: 20%;
}
}

@media screen and (orientation: landscape) and (max-width: 1660px){
.member_text {
	padding-left: 0px;
	padding-right: 0px;
}
}

@media screen and (orientation: portrait) {
.member_text {
	padding-left: 0px;
	padding-right: 0px;
}
}









@media screen and (orientation: landscape) {
.container {
	display: flex;
	justify-content: center;
 	z-index: 10;
	margin-left:15%;
	margin-right:15%;
	position: relative;
}
}


@media screen and (orientation: portrait) {
.container {
	display: flex;
	justify-content: center;
 	z-index: 10;
	margin-left:15px;
	margin-right:15px;
	position: relative;
}
}


@media screen and (orientation: landscape) {
.containerT {
	display: flex;
	justify-content: center;
 	z-index: 10;
	margin-left:30%;
	margin-right:30%;
	position: relative;
}
}


@media screen and (orientation: portrait) {
.containerT {
	display: flex;
	justify-content: center;
 	z-index: 10;
	margin-left:15px;
	margin-right:15px;
	position: relative;
}
}



/* КНИГи */ 







.books {
 box-sizing: border-box;
	padding-left:15%;
	padding-right:15%;
}



@media screen and (max-width: 1200px) {
.books {
	padding-left:10%;
	padding-right:10%;
}
}


@media screen and (max-width: 1150px) {
.books {
	padding-left:7%;
	padding-right:7%;
}
}


@media screen and (max-width: 1100px) {
.books {
	padding-left:5%;
	padding-right:5%;
}
}



@media screen and (max-width: 1050px) {
.books {
	padding-left:3%;
	padding-right:3%;
}
}


@media screen and (max-width: 1000px) {
.books {
	padding-left:0%;
	padding-right:0%;
}
}


@media screen and (orientation: portrait) {
.books {
	padding-left:0px;
	padding-right:0px;
}
}






/* ПЕРВАЯ КНИГА */ 



.audit-pic1 {
 box-sizing: border-box;
    border: 2px solid grey;
    float: left; /* Обтекание по правому краю */
    width: 48%; /* Ширина слоя */
    min-width: 290px;
}

.audit-pic1-img {
 box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
}

.audit-pic1-text {
 box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 41%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: open sans;
    font-size: medium;
    padding: 15px;
    bottom:0;
}






/* между книгами */ 


.audit-pic0 {
 box-sizing: border-box;
    border: 1px solid white;
    float: left; /* Обтекание по правому краю */
    min-width: 4%;/* Ширина слоя */
}



/* ВТОРАЯ КНИГА */ 









.audit-pic2 {
 box-sizing: border-box;
    border: 2px solid grey;
    float: left; /* Обтекание по правому краю */
    width: 48%; /* Ширина слоя */
    min-width: 290px;
}

.audit-pic2-img {
 box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.audit-pic2-text {
 box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 41%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: open sans;
    font-size: medium;
    padding: 15px;
    bottom:0;
}









.link {
     position: absolute;
     width: 40%; /* Ширина слоя */
     min-width: 120px;
     height: 40px; /* Высота слоя */
     background: #0564bc; /* Цвет фона */
     border-radius: 5px;
     bottom: 4%;
     margin-left: 25%;
    }
    .link a {
     padding-top: 0px;
     text-decoration: none;
     display: block;
     text-align: center;
     height: 100%;
     font-size:30px;
}



 .link a:hover {
    background: #67b4fb; /* Цвет фона под ссылкой */ 
    border-radius: 5px;
   } 








td li {
  padding-left: 10px;
}







@media screen and (orientation: landscape) {
td {
	font-size:20px;
	word-wrap: break-word;
}
}


@media screen and (orientation: portrait) {
td {
	font-size:30px;
	word-wrap: break-word;
}
}








@media screen and (orientation: landscape) {
td li {
	font-size:20px;
	word-wrap: break-word;
}
}


@media screen and (orientation: portrait) {
td li {
	font-size:30px;
	word-wrap: break-word;
}
}






/* картинки слева и справа */ 







.leftimg {
    float: left;  
    margin: 7px 10px 7px 7px; 
    width: 20%;
}



@media screen and (max-width: 1200px) {
.leftimg {
    float: left;  
    margin: 7px 10px 7px 7px; 
    width: 30%; 
}
}

@media screen and (orientation: portrait) {
.leftimg {
    float: left; 
    margin: 7px 7px 7px 0; 
    width: 40%;
}
}





.rightimg  {
    float: right; 
    margin: 7px 0 7px 7px; 
    width: 20%;
}



@media screen and (orientation: landscape) {
.rightimg  {
    max-width: 240px;
}
}

 

@media screen and (max-width: 1200px) {
.rightimg {
    float: right; 
    margin: 7px 0 7px 7px; 
    width: 30%; 

}
}


@media screen and (orientation: portrait) {
.rightimg  {
    float: right; 
    margin: 4px 0 4px 4px; 
    width: 40%; 
}
}







.leftrightimg  {
    float: left; 
    margin: 7px 10px 7px 7px; 
    width: 20%; 
}




@media screen and (max-width: 1200px) {
.leftrightimg {
    float: left; 
    width: 20%; 
}
}


@media screen and (orientation: portrait) {
.leftrightimg  {
    float: none; 
    margin: 4px 0 4px 4px; 
    width: 45%; 
}
}







.rightleftimg  {
    float: right; 
    margin: 7px 0 7px 7px; 
    width: 20%; 
}




@media screen and (max-width: 1200px) {
.rightleftimg {
    float: right; 
    width: 20%; 
}
}


@media screen and (orientation: portrait) {
.rightleftimg  {
    float: none; 
    margin: 4px 0 4px 4px; 
    width: 40%; 
}
}







.leftrightimg1  {
    float: left; 
    margin: 7px 10px 7px 7px; 
    width: 20%; 
}




@media screen and (max-width: 1200px) {
.leftrightimg1 {
    float: left; 
    width: 20%; 
}
}


@media screen and (orientation: portrait) {
.leftrightimg1  {
    float: none; 
    margin: 4px 0 4px 4px; 
    width: 45%; 
}
}







.rightleftimg1  {
    float: right; 
    margin: 7px 0 7px 7px; 
    width: 20%; 
}




@media screen and (max-width: 1200px) {
.rightleftimg1 {
    float: right; 
    width: 20%; 
}
}


@media screen and (orientation: portrait) {
.rightleftimg1  {
    float: none; 
    margin: 4px 0 4px 4px; 
    width: 45%; 
}
}







/* 1-я иконка */ 



.ico1-img {
	margin-top: 1em;
	margin-bottom: 1em;
  width: 5%;
  margin-left: 35%;

}


@media screen and (max-width: 1200px) {
.ico1-img {
  width: 6%;
  margin-left: 33%;

}
}

@media screen and (max-width: 1100px) {
.ico1-img {
  width: 7%;
  margin-left: 31%;

}
}  

@media screen and (max-width: 1000px) {
.ico1-img {
  width: 8%;
  margin-left: 28%;

}
}  



@media screen and (orientation: portrait) {
.ico1-img  {
	margin-top: 2em;
	margin-bottom: 2em;
  width: 15%;
  margin-left: 15%;
}
}



/* 2-я иконка */ 


.ico2-img {
	margin-top: 1em;
	margin-bottom: 1em;
  width: 5%;
  margin-left: 1%;

}

@media screen and (max-width: 1200px) {
.ico2-img {
  width: 6%;
  margin-left: 1%;

}
}

@media screen and (max-width: 1100px) {
.ico2-img {
  width: 7%;
  margin-left: 1%;

}
}  

@media screen and (max-width: 1000px) {
.ico2-img {
  width: 8%;
  margin-left: 1%;

}
}  


@media screen and (orientation: portrait) {
.ico2-img  {
	margin-top: 2em;
	margin-bottom: 2em;
  width: 15%;
  margin-left: 1%;
}
}


/* 3-я иконка */ 

.ico3-img {
	margin-top: 1em;
	margin-bottom: 1em;
  width: 5%;
  margin-left: 1%;

}

@media screen and (max-width: 1200px) {
.ico3-img {
  width: 6%;
  margin-left: 1%;

}
}

@media screen and (max-width: 1100px) {
.ico3-img {
  width: 7%;
  margin-left: 1%;

}
}  

@media screen and (max-width: 1000px) {
.ico3-img {
  width: 8%;
  margin-left: 1%;

}
}  

@media screen and (orientation: portrait) {
.ico3-img  {
	margin-top: 2em;
	margin-bottom: 2em;
  width: 15%;
  margin-left: 1%;
}
}




/* 4-я иконка */ 

.ico4-img {
	margin-top: 1em;
	margin-bottom: 1em;
  width: 5%;
  margin-left: 1%;

}

@media screen and (max-width: 1200px) {
.ico4-img {
  width: 6%;
  margin-left: 1%;

}
}

@media screen and (max-width: 1100px) {
.ico4-img {
  width: 7%;
  margin-left: 1%;

}
}  

@media screen and (max-width: 1000px) {
.ico4-img {
  width: 8%;
  margin-left: 1%;

}
}  

@media screen and (orientation: portrait) {
.ico4-img  {
	margin-top: 2em;
	margin-bottom: 2em;
  width: 15%;
  margin-left: 1%;
}
}












@media screen and (orientation: landscape) {
.rightdisc  {
    float: right; 
    margin: 7px 7px 7px 7px; 
    width: 40%; 
}
}





@media screen and (orientation: portrait) {
.rightdisc  {
  display: block;
    margin: auto;
    width: 70%; 
    margin-bottom: 2em;
}
}


@media screen and (orientation: landscape) {
.rightdisc2  {
    float: right; 
    margin: 90px 7px 7px 7px; 
    width: 40%; 
}
}





@media screen and (orientation: portrait) {
.rightdisc2  {
  display: block;
    margin: auto;
    width: 70%; 
    margin-bottom: 2em;
}
}


@media screen and (orientation: landscape) {
.rightdisc3  {
    float: right; 
    margin: 55px 7px 7px 7px; 
    width: 40%; 
}
}





@media screen and (orientation: portrait) {
.rightdisc3  {
  display: block;
    margin: auto;
    width: 70%; 
    margin-bottom: 2em;
}
}











@media screen and (orientation: portrait) {
.disc  {
  width: 82%; 
  margin-left: 12%;
}
}



@media screen and (orientation: portrait) {
.big-img {
  display: block;
  margin: 0 auto;
  width: 250%;
}
}







 .speak {
    background: #CBD8E0; /* Цвет фона */
    color: #000000; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */ 
    border-radius: 20px;
   }













.limiter {
  	text-align: left;
  overflow: hidden;
  position: relative;
	background:#CBD8E0;
}
.limiter .bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(203 216 224 / 0%),
    rgb(203 216 224)90%);
  width: 100%;
  height: 60px;
  opacity: 1;
  transition: 0.3s;
}
.read-more-checker {
  opacity: 0;
}
.read-more-checker:checked ~ .limiter {
  max-height: none;
}
.read-more-checker:checked ~ .limiter .bottom {
  opacity: 0;
  transition: 0.3s;
}
.read-more-checker ~ .read-more-button:before {
  content: "Развернуть »"
}
.read-more-checker:checked ~ .read-more-button:before {
  content: "Свернуть «";
}
.read-more-button {
  cursor: pointer;
  display: inline-block;
  color: #0564bc;
  text-decoration: underline;
}





.recent {
	border-radius: 20px;
	background:#CBD8E0;
  	text-align: right;	
	margin-top: 3em;
	margin-bottom: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 1em;
}







@media screen and (orientation: landscape) {
.limiter {
	max-height: 250px;
	margin: 10px;
	padding: 5px;
	font-size:20px;
	color: #000000;
	}
}


@media screen and (orientation: portrait) {
.limiter {
	max-height: 550px;
	margin: 10px;
	padding: 5px;
	font-size:40px;
	color: #000000;
	}
}



@media screen and (orientation: landscape) {
.read-more-checker:checked ~ .read-more-button:before {
	font-size:20px;
	}
}


@media screen and (orientation: portrait) {
.read-more-checker:checked ~ .read-more-button:before {
	font-size:40px;
	}
}


@media screen and (orientation: landscape) {
.read-more-checker ~ .read-more-button:before {
	font-size:20px;
	}
}


@media screen and (orientation: portrait) {
.read-more-checker ~ .read-more-button:before {
	font-size:40px;
	}
}



@media screen and (orientation: portrait) {
.sl {
	font-size:20px;
	}
}









.videowrap {
  max-width: 720px;
  margin: 0 auto;
}
.videoblock {
  position: relative;
  padding-bottom: 56.25%; /*для видео из соотношением экрана 16:9*/
  height: 0;
  overflow: hidden;
}
.videoblock iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


















@media screen and (orientation: landscape) {
div.scrollup {
  z-index: 200; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff; /* цвет текста */
  background-color: #000000; /* цвет заднего фона */
  margin-left: 92.5%;
  bottom: 5%; /* расстояние от нижнего края */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 4px;
  font-size:8px;
  border-top-left-radius: 5px; /* скругление верхнего левого угла */
  border-top-right-radius: 5px; /* скругление верхнего правого угла */
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
  width: 34px;
  transition: .5s ease;
}
}



@media screen and (orientation: portrait) {
div.scrollup {
  z-index: 200;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff; /* цвет текста */
  background-color: #000000; /* цвет заднего фона */
  margin-left: 86.5%;
  bottom: 5%; /* расстояние от нижнего края */
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
  padding-top: 6px;
  font-size:12px;
  border-top-left-radius: 10px; /* скругление верхнего левого угла */
  border-top-right-radius: 10px; /* скругление верхнего правого угла */
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
  height: 72px;
  width: 80px;
  transition: .5s ease;
}
}



div.scrollup:hover {
  background-color: #222222; /* цвет заднего фона при наведении */
}




@media screen and (orientation: landscape) {
.arrow {
  height: 31px;
  width: 34px;
}
}


@media screen and (orientation: landscape) {
.portrait { 
  display: none;
}
}




@media screen and (orientation: portrait) {
.landscape { 
  display: none;}
}

@media screen and (orientation: landscape) {
#layoutBodyContent table td{
	font-size:20px;
}
}

@media screen and (orientation: portrait) {
#layoutBodyContent table td{
	font-size:40px;
}
}

@media screen and (orientation: landscape) {
.tracklist { 
  width: 50%;
}
}

@media screen and (orientation: portrait) {
.tracklist { 
  width: 100%;
}
}


.Videoblock {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 1%;
}

.Videoblock a {
  color: grey;
}

@media screen and (max-width: 650px) {
  .Videoblock {
    width: 100%;
    display: block;
  }
}



.containerV a{
     text-decoration: none;
}


.title {
  color: grey;
}

@media screen and (orientation: portrait) {
    .Videoblock {
      flex: 0 0 90%;

      width: 90%;
      margin-left: 5%;
    }

    }



@media screen and (orientation: landscape) and (min-width: 1100px){
    .Videoblock {

      max-width: 30%;
}
}
@media screen and (orientation: landscape) and (min-width: 1600px){
    .Videoblock {

      max-width: 23%;
}
}

@media screen and (orientation: landscape) and (min-width: 1900px){
    .Videoblock {

      max-width: 18%;
}
}



.change-photos {
width: 100%;
}

.change-photos .change-photo img {
width: 100%;
height: 100%;
object-fit: cover;
}

.change-photos .change-photo:nth-of-type(2) {
display: none;
}

.change-photos:hover .change-photo:nth-of-type(1) {
display: none;
}

.change-photos:hover .change-photo:nth-of-type(2) {
display: block;
}

.change-photos:hover {
cursor: pointer;
}


.video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}



@media screen and (orientation: landscape) and (min-width: 1600px){
.video1 {
    margin-left: 10%;
    margin-right: 10%;
}
}

@media screen and (orientation: landscape) and (min-width: 1900px){
.video1 {
    margin-left: 15%;
    margin-right: 15%;
}
}

@media screen and (orientation: portrait) {
.video1 {
    margin-left: 0;
    margin-right: 0;
}
}


.video2 {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (orientation: landscape) and (min-width: 1100px){
.video2 {
    margin-left: 5%;
    margin-right: 3%;
}
}

@media screen and (orientation: landscape) and (min-width: 1600px){
.video2 {
    margin-left: 20%;
    margin-right: 0%;
}
}

@media screen and (orientation: landscape) and (min-width: 1900px){
.video2 {
    margin-left: 28%;
    margin-right: 0%;
}
}

@media screen and (orientation: portrait) {
.video2 {
    margin-left: 0;
    margin-right: 0;
}
}

@media screen and (orientation: landscape) {
.container2 {
	display: flex;
	justify-content: center;
 	z-index: 10;
	margin-left:6%;
	margin-right:8%;
	position: relative;
}
}


@media screen and (orientation: portrait) {
.container2 {
	display: flex;
	justify-content: center;
 	z-index: 10;
	margin-left:0%;
	margin-right:0%;
	position: relative;
}
}